body {
    margin: 0;
    padding: 0;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}


/****************
 *  reader
 ***************/

body {
    padding: 0 !important;
    margin: 0 !important;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAR0lEQVQYlYXPMQoAMAgDwNQ9//+nPsAuQrGlMWM4Alnujh6SV2OjiAgbRVv6iYOEKKQFgJWZWuB99wqSNoq29BMHCVFICwAbulcm6g27APAAAAAASUVORK5CYII=);
}

.anim {
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(.92, .01, .15, .98);
}

#reader-container {
    border-top: 1px #f0f0f0 solid;
    box-shadow: 0 0 8px #555;
}

.reader-container {
    border-bottom: 1px #f0f0f0 solid;
    box-shadow: 0 1px 0 #f9f9f9;
    background: #fff;
}

.reader-left {
    display: inline-block;
    width: 50px;
}

.reader-icon {
    position: absolute;
    top: 10px;
    left: -23px;
    font-size: 20px;
    border: 4px #3498DB solid;
    border-radius: 30px;
    width : 30px;
    height: 30px;
    background: white;
    line-height: 30px;
    text-align: center;
}

.reader-icon > i {
    color: #BDC3C7;
    display: block;
    margin-top: 4px;
}

.reader-right {
    position: relative;
    width: -webkit-calc(100% - 95px);
    display: inline-block;
    border-left: 4px #f0f0f0 solid;
    padding: 5px 10px 5px 25px;
}

.reader-title {
    color: #2980B9;
}


.reader-content {
    color: #BDC3C7;
}


/****
 * 時間の表示
 ****/

.clock-frame {
    position: fixed;
    background: rgba(44, 62, 80, 0.9);
    width: 60px;
    height: 30px;
    top: 10px;
    right: 17px;
    z-index: 999;
}

.clock-frame:before {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    background: rgba(44, 62, 80, 0.9);
    width: 15px;
    height: 30px;
    border-radius: 30px 0 0 30px;
}

.clock-frame:after {
    content: '';
    position: absolute;
    top: 0;
    right: -8px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 0 15px 8px;
    border-color: transparent;
    border-left-color: rgba(44, 62, 80, 0.9);
}

.clock-frame > .clock {
    position: absolute;
    top: 5px;
    left: -10px;
    width: 20px;
    height: 20px;
    background: #FCFCFC;
    border-radius: 13px;
}

.clock-frame > .clock > .center {
    position: absolute;
    width: 6px;
    height: 6px;
    top: -3px;
    left: -3px;
    margin-top: 50%;
    margin-left: 50%;
    border-radius: 3px;
    background: #E74C3C;
}

.clock-frame > .clock > .hands {
    background: #E74C3C;
    position: absolute;
    width: 2px;
    left: -1px;
    margin-left: 50%;
    border-radius: 2px 2px 0 0;
    -webkit-transition: -webkit-transform .5s;
    -webkit-transform-origin: center bottom;
    -webkit-transform-style: preserve-3d;
}

.clock-frame > .clock > .shorthand {
    top: 3px;
    height: 7px;
}

.clock-frame > .clock > .longhand {
    top: 1px;
    height: 9px;
}


.clock-frame > .time {
    position: absolute;
    color: #ECF0F1;
    top: 5px;
    left: 17px;
    font-size: 11px;
}


@media only screen and (max-width: 940px) {
    .container {
        width: 100%;
    }
}
