<div class="hero-unit">
  <h1>'Allo, 'Allo!</h1>
  <p>You now have:</p>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
  <p>
      <a href="/#/reader">reader</a>
  </p>
</div>
