<script type="text/javascript" src="scripts/utils.js"></script>
<script type="text/javascript" src="scripts/controllers/reader/list.js"></script>
<div class="clock-frame" id="clock">
  <div class="clock">
    <div class="hands longhand" id="longhand"></div>
    <div class="hands shorthand" id="shorthand"></div>
    <div class="center"></div>
  </div>
  <div class="time" id="time"></div>
</div>
<div id="reader-container">
  <div class="reader-container" ng-repeat="entry in entries" on-repeat-render="items">
    <div class="reader-left">
    </div>
    <div class="reader-right">
      <div class="reader-icon">
        <i class="icon-comment"></i>
      </div>
      <span class="reader-title">{{entry.title}}</spaspann>
      <span class="reader-content">{{entry.contentSnippet}}</span>
    </div>
  </div>
</div>

